---
import { getCollection, getEntries, getEntry } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import "../css/main.css";
import BaseLayout from "../layouts/Layout.astro";

const pageTitle = "Blog";

const post = await getEntry("posts", "post-2");
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>Simple Blog</p>
  </div>
  <ul class="space-y-6 my-4">
    {(<BlogPost url={`posts/${post.slug}`} title={post.data.title} />)}
  </ul>
</BaseLayout>
