---
interface Props {
  tags: string[];
  dir?: "row" | "column";
}

const { tags, dir = "row" } = Astro.props;
---

<ul style={`flex-direction : ${dir}`} class="flex gap-4">
  {
    tags.map((tag) => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>
