---
interface Props {
  pageTitle: string;
  className?: string;
}

import "../css/main.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { pageTitle, className } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <main>
      <Header />
      <div class="p-8">
        <div class=` ${className}`>
          <h1>{pageTitle}</h1>
          <slot name="flex-content" />
        </div>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
